.bodyContainer
{
    font-family: Arial,sans-serif;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
}

hr
{
    margin: 0;
	color: #e3e3e3;
}

.mainContainer
{
    display: flex;
    flex: 3 1 500px;
    border: 1px solid #D3D3D3;
}

.containerHero, .containerEnemy
{
    width: 25%;
    border: 1px solid #D3D3D3;
}

.containerFight
{
    width: 50%;
    border: 1px solid #D3D3D3;
}

.attackBlock, .protectionBlock
{
    display: flex;
    flex-direction: column;
}

.margins
{
    margin: 5px 0;
}

p
{
    text-align: center;
}

.buttleForm
{
    display: flex;
    justify-content: space-around;
}

.buttonGo
{
    display: flex;
    justify-content: center;
}

.footerContainer
{
    display: flex;
    flex: 1 1 250px;
    border: 1px solid #D3D3D3;
}

.searchForOnlineUsers
{
    width: 100%;
    height: 30px;
}

.button
{
    border: 1px solid #D3D3D3;
    background-color: white;
    border-radius: 3px;
}

.buttonGoStyle
{
    width: 70px;
    height: 30px;
}

.containerChat
{
    width: 75%;
    display: flex;
    flex-direction: column;

}

.chatLog, .chatForm
{
    width: 100%;
}

.chatLog
{
    height: 90%;
    overflow-y: scroll;
}

.chatInput
{
    height: 25px;
    width: 95%; 
    margin-top: 10px;
}

.chatForm
{
    display: flex;
}

.onlineContainer
{
    width: 25%;
    border: 1px solid #D3D3D3;
    
}
.listOfUsers
{
    list-style-type: none;
    padding-left: 20px;
}
.callFight
{
    height: 13px;
}

.chatMessages {
    list-style-type: none;
    max-height: 175px;
}

  /* Progress Bar */
  
  .progress-bar {
    width: 80%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  }
  
  .progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #34A853;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
  }
  .progressEnemy .progress-bar-fill {
      background-color: #EA4335;
  }

  .progressEnemy, .progressHero {
    margin:20px auto 0 auto;
  }