html,body {
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
}
.bodyContainer{
    font-family: Arial,sans-serif;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    height: 100%;
}

hr{
    margin: 0;
	color:  #D3D3D3;
}

/* Fight Block */

.mainContainer{
    display: flex;
    /* flex: 3 1 500px; */
    flex: 1 0 auto;
    padding: 5px;
    padding-bottom: 0;
}

.hide
{
    visibility: collapse;
    display:none;
} 

.ghost_block
{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.style_findOponent
{
    margin-top: 100px;
    height: 30px;
    border-radius: 3px;
}

.containerHero, .containerEnemy{
    width: 25%;
    border: 1px solid #D3D3D3;
}

.containerFight{
    width: 50%;
    border: 1px solid #D3D3D3;
    border-right-width: 0;
    border-left-width: 0;
}

.attackBlock, .protectionBlock{
    display: flex;
    flex-direction: column;
}

.margins{
    margin: 5px 0;
}

p{
    text-align: center;
}

.buttleForm{
    display: flex;
    justify-content: space-around;
}

.buttonGo{
    display: flex;
    justify-content: center;
}

.button{
    border: 1px solid #D3D3D3;
    background-color: white;
}
.button:hover
{
    box-shadow: 0 4px 8px 0 grey;
}

.buttonGoStyle{
    width: 70px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 grey;
}

 /* Chat */

 .footerContainer{
    display: flex;
    flex: 1 1 250px;
    /* min-height: calc(100vh - 20%); */
    flex: 1 0 auto;
    padding: 5px;
    padding-top: 0;
}

.containerChat{
    width: 75%;
    display: flex;
    flex-direction: column;
    border: 1px solid #D3D3D3;
    border-top-width: 0;
    border-bottom-width: 0;
}

.chatLog, .chatForm{
    width: 100%;
}

.chatLog{
    height: 90%;
    overflow-y: scroll;
}

.chatInput{
    height: 35px;
    width: 95%; 
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #D3D3D3;
    border-left-width: 0;
}

.chatButton{
    height: 35px;
    margin-left: -1px;
    border-right-width: 0;
}

.chatForm{
    display: flex;
    align-items: baseline;
}

/* Online users */

.onlineContainer{
    width: 25%;
    border: 1px solid #D3D3D3;
    border-top-width: 0;
    border-left-width: 0;
}
.listOfUsers{
    list-style-type: none;
    padding-left: 20px;
}
.infoAboutUser{
    height: 10px;
}

.chatMessages {
    list-style-type: none;
    max-height: 175px;
}

  /* Progress Bar */
  
  .progress-bar {
    width: 80%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  }
  
  .progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #34A853;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
  }
  .progressEnemy .progress-bar-fill {
      background-color: #EA4335;
  }

  .progressEnemy, .progressHero {
    margin:20px auto 0 auto;
  }
